table {
  border-width:1px;
  border-style:solid;
  border-color:black;
  width: 550px;
  color: #1F497D;
  border-collapse:collapse;

}


td {
  border-width:1px;
  border-style:solid;
  border-color:black;
    color: black;
  padding: 3px 3px 3px 3px;
}


 div#entete {
    border-width:1px;
    border-style:solid;
    border-color:black;
    width: 600px;
    color: #1F497D;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
 }

  div#body {
    border-width:1px 1px 1px 1px;
    border-style:solid;
    border-color:black;
    width: 600px;
 }